
<div class="currency-converter" [formGroup]="currencyConverterForm">
  <h2>
    <span style="display: block">CURRENCY</span>
    <span style="display: block">CONVERTER</span>
  </h2>
  <div>
    <label for="input1"></label>
    <input
      id="input1"
      type="number"
      formControlName="first"
      (ngModelChange)="convertFirstToSecond()"
      (click)="clearInputField($event)"
    />
    <select
      id="input1Currency"
      formControlName="currencyFrom"
      (change)="convertFirstToSecond()"
    >
      <option *ngFor="let currency of currencies" [value]="currency">
        {{ currency }} {{ symbols[currency] }}
      </option>
    </select>
  </div>
  <div>
    <label for="input2"></label>
    <input
      id="input2"
      type="number"
      formControlName="second"
      (click)="clearInputField($event)"
      (ngModelChange)="convertSecondToFirst()"
    />
    <select
      id="input2Currency"
      formControlName="currencyTo"
      (change)="convertSecondToFirst()"
    >
      <option *ngFor="let currency of currencies" [value]="currency">
        {{ currency }} {{ symbols[currency] }}
      </option>
    </select>
  </div>
</div>
